:root {
    --vp-c-brand-1:#F06C33;
    --vp-home-hero-name-color:#F06C33;
    --vp-button-brand-bg:#F06C33;
    --vp-button-brand-hover-bg:#ff986b;
}

.vp-doc .custom-block p {
    font-size: 15px;
}

.custom-block.tip code {
    background-color: #f3f3f3;
    font-weight: 600;
}

.vp-doc .custom-block a{
    color: var(--vp-c-brand);
}
